<!-- {% load staticfiles %} -->
<header class="page-header">
      <nav class="navbar" role="navigation">
          <div class="container-fluid">
              <div class="row">
                <!-- BEGIN LOGO -->
                <div class="col-md-2 col-xs-2">
                  <a id="index" class="navbar-brand" href="{% url 'home' %}" style="padding-left: 50px;padding-right: 50px;">
                      <img src="{% static 'img/icon-ch.png' %}" alt="">
                  </a>
                  </div>
                <!-- END LOGO -->
                <div class="col-md-8 col-xs-8"><a href="{% url 'home' %}" style="text-decoration: noen;">
        <h1 class="navbartext text-center font-purple-seance" style="font-family: algerian;"><b>CORNERSTONE BIBLICAL BAPTIST CHURCH</b></h1></a>
        </div>
                <!-- BEGIN TOPBAR ACTIONS -->
                <!-- <div class="topbar-actions"> -->
                  <!-- <div class="row"> -->
                    <div class="col-md-2 col-xs-2">
                      <form style="padding-top:10px;" name="clock">
                        <div class="input-group">
                          <input class="form-control" type="text" name="face" size=5 value="">
                        </div>
                      </form>
                      </div>
                      <<!-- div class="col-md-6 col-xs-6">
                        <div class="btn-group-img btn-group">
                  <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <img src="{% static 'img/my.jpg' %}" alt="">
                  </button>
                  </div>
                      </div> -->
                  <!-- </div> -->
                  <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->

          <!-- END HEADER SEARCH BOX -->

                  <!-- BEGIN GROUP NOTIFICATION -->
                  <!-- END GROUP NOTIFICATION -->

                  <!-- BEGIN USER PROFILE -->

          <!-- END USER PROFILE -->
        <!-- </div> -->
        <!-- <div class="col-md-12 col-xs-12">
        <h1 class="navbartext text-center font-purple-seance" style="font-family: algerian;"><b>CORNERSTONE BIBLICAL BAPTIST CHURCH</b></h1>
        </div> -->
                <!-- END TOPBAR ACTIONS -->
              </div>
          </div>
          <!--/container-->
      </nav>
  </header>