{% extends "base.html" %}
{% block content %}
<!-- <div class="header">
  Hello from CBBC
</div> -->
<div class="portlet light">
          <div class="portlet-body">
            <div class="row margin-bottom-30">
            
            <div class="col-md-6">
            {% for item in titles %}
              <h2>{{ item.title | safe }}</h2> 
                <p>
                {{ item.content | safe}}
                   <!-- Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. -->
                </p>
               
                <!-- <ul class="list-unstyled margin-top-10 margin-bottom-10">
                  <li>
                    <i class="fa fa-check icon-default"></i> Nam liber tempor cum soluta
                  </li>
                  <li>
                    <i class="fa fa-check icon-success"></i> Mirum est notare quam
                  </li>
                  <li>
                    <i class="fa fa-check icon-info"></i> Lorem ipsum dolor sit amet
                  </li>
                  <li>
                    <i class="fa fa-check icon-danger"></i> Mirum est notare quam
                  </li>
                  <li>
                    <i class="fa fa-check icon-warning"></i> Mirum est notare quam
                  </li>
                </ul> -->
                <blockquote class="hero">
                  <p>
                     {{item.note|safe}}
                  </p>
                  <small>{{item.pastor|safe}}</small>
                </blockquote>
                {% endfor %}
              </div>
               
              <div class="col-md-6">
                <!-- <iframe src="http://player.vimeo.com/video/22439234" style="width:100%; height:327px;border:0" allowfullscreen>
                </iframe> -->
              
<div class="tiles">
<div class="tile double-down double selected bg-green-turquoise" style="width: 450px !important;">
          <div class="corner">
          </div>
          <div class="check">
          </div>
          {% for item in events %}
          <div class="tile-body" style="text-align: center;">
          <h3 style="padding-top:20px;">Latest Event coming off</h3>
          <div style=" padding-top: 60px;">
            <h4>{{item.name | safe}}</h4>
            <p>
               {{item.theme | safe}}
            </p>
            <p>
               {{item.date | safe}} {{item.time | safe}} confirmed location is {{item.location | safe}}
            </p>
            </div>
          </div>
          {% endfor %}
          <!-- <div class="tile-object">
            <div class="name">
              <i class="fa fa-envelope"></i>
            </div>
            <div class="number">
               14
            </div>
          </div> -->
        </div>
        </div>
        </div>
        </div>

  <div class="headline">
    <h3 class="text-center">Meet Our Pastors</h3>
 </div>
   <div class="row">
   {% for item in pastors %}
        <div class="col-md-4">
          <div class="meet-our-team">
            <h3>{{ item.name | safe }} / <small>{{ item.role }}</small></h3>
            <div class="team-info">
              <p>
                 {{ item.background | safe |truncatewords:20 }}
                 <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
                  Read More
                </button>
              </p>          
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Background</h4>
                      </div>
                      <div class="modal-body">
                        {{ item.background | safe }}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                      </div>
                    </div>
                  </div>
                </div>
              <p>
                {{ item.email | safe}}
              </p>
              <p>
                {{ item.phone | safe}}
              </p>
              <!-- <ul class="social-icons pull-right">
              <li>
                  <a href="javascript:;" data-original-title="facebook" class="facebook">
                  </a>
                </li>
                <li>
                  <a href="javascript:;" data-original-title="Goole Plus" class="googleplus">
                  </a>
                </li>
                </ul> -->
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
        </div></div>
  {% endblock %}
