<!DOCTYPE html>
<html>
<head>
	<title>CBBC</title>
</head>
<body style="font-family: algerian; transition: background is ease; background: blue; ">
<div class="main-wrapper">
	<div class="slide slide-one" style="">
		<div class="inside" style="display: table; height: 100%; width: 100%; padding: 0 3em;">
			<p style="display: table-cell; width: 100%; clear: both; vertical-align: middle; text-align: center;">Hello and Welcome to Cornerston Biblical baptist Church</p>
		</div>
	</div>
</div>
</body>
</html>