{% extends "base.html" %}
{% block content %}
<div class="portlet light">
	<div class="portlet-body">
		<div class="row">
		{% for item in address %}
			<div class="col-md-12">
				<!-- Google Map -->
				<!-- <div class="row">
					<div id="map" class="gmaps margin-bottom-40" style="height:400px;">
					</div>
				</div>  --><p style="height:200px;">
							 {{item.notesadd}}
						</p>
				<div class="row margin-bottom-20">
				
					<div class="col-md-6">
						<div class="space20">
						</div>
						<h3 class="form-section">Contacts</h3>
						
						<div class="well">
							<h4>Address</h4>
							<address>
							<strong>{{item.name | safe}}</strong><br>
							 {{item.box | safe}}<br>
							<abbr title="Phone">P:</abbr> {{item.phone | safe}}</address>
							<address>
							<strong>Email</strong><br>
							<a href="mailto:#">
							{{item.email | safe}} </a>
							</address>
							<address>
    							<strong>Location</strong><br>
    								{{item.location | safe}}
    						</address>
						</div>
					</div>
					{% endfor %}
					<div class="col-md-6">
						<div class="space20">
						</div>
						<!-- BEGIN FORM-->
						<form method="POST" action="{% url 'home' %}" role="form">{% csrf_token %}
							<h3 class="form-section">Feedback</h3>
							<!-- {% for item in address %}
							<p>
								 {{item.notesadd}}Please send us a feedback or a prayer request for the church to pray on your behalf
							{% endfor %}
							</p> -->
							<div class="form-group">
								<div class="input-icon">
									<i class="fa fa-check"></i>
									{{ form.name }}
									{{ form.name.errors }}
								</div>
							</div>
							<div class="form-group">
								<div class="input-icon">
									<i class="fa fa-user"></i>
									{{ form.email }}
									{{ form.email.errors }}
								</div>
							</div>
							<div class="form-group">
								<div class="input-icon">
									<i class="fa fa-envelope"></i>
									{{ form.phone }}
									{{ form.phone.errors }}
								</div>
							</div>
							<!-- <div class="form-group">
							<label for="id_topic" style="display: block;">Prayer Request?:</label>
								<div class="input-icon">
									{{ form.is_prayer_request }}
									{{ form.is_prayer_request.errors }}
								</div>
							</div> -->
							<div class="form-group">
								{{ form.content }}
								{{ form.content.errors }}
							</div>
							<button type="submit" class="btn green">Submit</button>
						</form>
						<!-- END FORM-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- <form method="POST" action="." role="form">{% csrf_token %}
	<div class="form-body">
		<div class="form-group">
			{{ form.name.errors }}
			<label for="exampleInputEmail1">Email address</label>
			{{ form.name }}
		</div>
		<div class="form-group">
			{{ form.email.errors }}
			<label for="id_topic">Kind of feedback:</label>
			{{ form.email }}
		</div>
		<div class="form-group">
			{{ form.phone.errors }}
			<label for="id_topic">Kind of feedback:</label>
			{{ form.phone }}
		</div>
		<div class="form-group">
			{{ form.is_prayer_request.errors }}
			<label for="id_topic">Prayer Request?:</label>
			{{ form.is_prayer_request }}
		</div>
		<div class="form-group">
			{{ form.content.errors }}
			<label for="id_topic">Content:</label>
			{{ form.content}}
		</div>
		<input type="submit" value="Submit">
	</div>
 --><!-- </form> -->
{% endblock %}