{% extends "base.html" %}  
{% block content %}
  <div class="portlet light">
    <div class="portlet-title portlet box blue-chambray">
      <div class="caption">
        <i class="icon-microphone font-purple-plum"></i>
        <span class="caption-subject bold font-purple-seance uppercase">
        Welcome </span>
        <span class="caption-helper"> to {{title}}</span>
      </div>
    </div>
    <div class="portlet-body">
      <div class="scroller" style="height:400px" data-always-visible="1" data-rail-visible="1" data-rail-color="red" data-handle-color="green">
        <h3>Our Purpose</h3>
        {% for item in mens %}
        <h4>{{item.name | safe}}</h4>
        <p>{{item.content | safe}}</p>
        {% endfor %}
<h3>Meeting Schedule:</h3>
{% for items in mens %}
{{items.time | safe}}<br>
{{items.location | safe}}<br>
{% endfor %}
      </div>
    </div></div>
{% endblock %}