{% extends "base.html" %}
{% block content %}
<div class="portlet light">
							<div class="portlet-title">
								<div class="caption font-green-sharp">
									<i class="icon-speech font-green-sharp"></i>
									<span class="caption-subject"> {{ devotion.title | safe }}</span>
								</div>
							</div>
							<div class="portlet-body">
								<div class="scroller" style="height:200px" data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd">
									
									<em><strong>
										 {{ devotion.verse | safe }}
									</strong>
									<h4>{{ devotion.verse_name | safe }}</h4></em>
									<p>
										 {{ devotion.content | safe }}
									</p>
									<p>{{ devotion.principle | safe }}</p>
								</div>
							</div>
						</div>
{% endblock %}
