{% extends "base.html" %}
{% block content %}
<div class="portlet light">
							<div class="portlet-title">
								<div class="caption font-green-sharp">
									<i class="icon-speech font-green-sharp"></i>
									<span class="caption-subject"> {{ sermons.title }}</span> by
									<span class="caption-helper">{{ sermons.author }}</span>
								</div>
							</div>
							<div class="portlet-body">
								<div class="scroller" style="height:500px" data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd">
									<h4>{{ sermons.verse_name }}</h4>
									<em>
										 {{ sermons.verse }}
									</em><br><br><br>
									<p>
										 {{ sermons.content }}
									</p>
								</div>
							</div>
						</div>
{% endblock %}
